body {
    margin: 0;
    padding: 0;
    background: url('../LoadingAssets/doodle_background.png') repeat-y top center;
    background-size: cover;    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;  
  background-color: hsla(226, 40%, 20%, 0.75); 
  z-index: 0; 
}

#unity-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#unity-canvas {
    width: 100% !important;
    height: 100dvh !important;
    max-width: calc(100vh * (9 / 16)) !important;
    background-color: rgba(226, 232, 253, 1);
    box-shadow: 0px 0px 20px rgba(0,0,0,0.7); 
}

.unity-mobile #unity-canvas {
    width: 100%;
    height: 100%;
}

#unity-warning {
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%);
    background: white;
    padding: 10px;
    display: none
}

#unity-loading-screen {
    position: absolute;
    top: 0; left: 50%;
    transform: translate(-50%);
    width: 100%;
    height: 100%;
    max-width: calc(100vh * (9 / 16)) !important;

    background: url('../LoadingAssets/doodle_background.png') repeat-y top center;
    background-size: cover;    
    background-size: 100% auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

#unity-loading-screen::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;  
    background: 
        radial-gradient(circle, rgba(226, 232, 253, 1) 40%, rgba(226, 232, 253, 0) 100%),
        linear-gradient(to bottom, rgba(226, 232, 253, 0) 0%, rgba(226, 232, 253, 1) 100%);
    z-index: 0; 
}

#game-title {
    width: 62.5%;
    z-index: 1;
    margin-top: 4.2vh;
}

#loading-center-stack {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: -10vh;
}

#center-top-img {
    width: 38%;
    z-index: 2;
    position: relative;
}

#center-bottom-img {
    width: 66%;
    margin-top: -15%; 
    z-index: 1;
    position: relative;
}

#unity-progress-bar-empty {
    width: 65%;
    aspect-ratio: 310 / 44;
    position: relative;
    margin-bottom: 10vh;
    border-image-source: url('../LoadingAssets/loading_bar_container.png');
    border-image-slice: 48 84 84 84 fill;
    border-image-width: 32% 7.7% 54.5% 7.7%;
    border-image-repeat: stretch;
    container-type: inline-size;
}

#unity-progress-bar-full {
    width: 0%;
    position: absolute;
    top: 9%; 
    bottom: 32%;
    left: 3.5%;
    min-width: 11cqi; 

    border-image-source: url('../LoadingAssets/loading_bar_filler.png');
    border-image-slice: 32 56 32 56 fill;
    border-image-width: 31% 5.5cqi 31% 5.5cqi;     
    border-image-repeat: stretch;

    transform: scale(1.01);
    transition: width 0.1s ease-out;
}

#unity-footer { 
    display: none !important;
}